<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenThreads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>osgAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>osgDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>osgFX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osgGA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>osgManipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>osgParticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>osgPresentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>osgShadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>osgSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>osgTerrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>osgText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osgUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>osgUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>osgViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>osgVolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>osgWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>osgdb_3dc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>osgdb_3ds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>osgdb_ac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>osgdb_avfoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>osgdb_bmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>osgdb_bsp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>osgdb_bvh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>osgdb_cfg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>osgdb_curl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>osgdb_dds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>osgdb_deprecated_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>osgdb_deprecated_osganimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>osgdb_deprecated_osgfx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>osgdb_deprecated_osgparticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>osgdb_deprecated_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>osgdb_deprecated_osgsim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>osgdb_deprecated_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>osgdb_deprecated_osgtext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>osgdb_deprecated_osgviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>osgdb_deprecated_osgvolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>osgdb_deprecated_osgwidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>osgdb_dot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>osgdb_dw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>osgdb_dxf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>osgdb_freetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>osgdb_gles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>osgdb_glsl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>osgdb_gz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>osgdb_hdr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>osgdb_imageio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>osgdb_ive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>osgdb_jpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>osgdb_ktx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>osgdb_logo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>osgdb_lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>osgdb_lws.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>osgdb_md2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>osgdb_mdl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>osgdb_normals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>osgdb_obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>osgdb_openflight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>osgdb_osc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>osgdb_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>osgdb_osga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>osgdb_osgjs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>osgdb_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>osgdb_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>osgdb_osgtgz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>osgdb_osgviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>osgdb_p3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>osgdb_pic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>osgdb_pnm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>osgdb_pov.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>osgdb_pvr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>osgdb_revisions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>osgdb_rgb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>osgdb_rot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>osgdb_scale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>osgdb_sdl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>osgdb_serializers_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>osgdb_serializers_osganimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>osgdb_serializers_osgfx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>osgdb_serializers_osgga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>osgdb_serializers_osgmanipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>osgdb_serializers_osgparticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>osgdb_serializers_osgshadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>osgdb_serializers_osgsim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>osgdb_serializers_osgterrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>osgdb_serializers_osgtext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>osgdb_serializers_osgui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>osgdb_serializers_osgutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>osgdb_serializers_osgviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>osgdb_serializers_osgvolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>osgdb_shp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>osgdb_stl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>osgdb_tf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>osgdb_tga.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>osgdb_tgz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>osgdb_trans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>osgdb_trk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>osgdb_txf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>osgdb_vtf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>osgdb_x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>osgdb_zeroconf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>osgdb_zip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>001D0D0C9DDA44BCB1C268C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B808B65B384213BE796D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CEF697D0D04FA2BD83CED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0615868567E644DB81E0793E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0677EDC19ADA4327AB60795B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119A7DADF7074124A501900D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146890F52F5B4BE28152DB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD04EB8416D4B199198C48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0940014C7747959CEE4D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4FEB16BB624FD6B97D9558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7B49EFFEA94E9DB267C05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB2BF9E4D4842D19AF1395E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F3BAB0B193342A58401011A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2176FB9CC00D435088C2A0C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2264467AFBA94AB08C15A61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D30EA64AC54C66892A88BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2566AAE9B07D449B93592F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2587FBFD83B84C968045AA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29319194B0A84E71AF630E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D990520ECED45E7ADCD395C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DAE2657BE194587ACE79F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E0327DF9E8F4667B9EEB809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3739F8C8DC8A4CFCB65A020B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38636E31C5C749B787CB0A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C94C80DB91540F3B42EBD2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD1E50682C4C1FA5A4E20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F206A3AB1744AE9ECE4B12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>420248DD1BE14C399EC1B8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430AC2D5B629459998BC64F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B0E43F0929402DBE1E64CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4999E42B6B944FD48452C0F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AAFEEA02ADE4CB7B6392663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CCA04407A6549EE9C700D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0A13DA1A9B4CFABD05596B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E8F5780A399489387F99D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C89DB4B3194CEEB92BBE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F157DF0B324ED28890B175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57EF4D51D7B745D3A1E1CEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59ABF2C150CC4525B924B859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A68C7E57B4F4ADCA1E73D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C894750569C43679D67A650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D63C061CB094E5DB6BC108D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2049D9F3764D649E3CA6AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A2F133AA1C445AFBB073D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D75738931040F18D96FC6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763C365821C44B6D87F35622</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BDE8B011A2C46B19EC42996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D9FC5A57E504FA48DDDD61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8405A6E9D991460DB592F904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8712E13CB2B841AC93383138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89003E27CB3D48D3BA95459A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B27BDDD797945538AF39B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D00CD11F2A8439BA6355710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E4064B5E06F4E12A2D9F49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F6B418D97E844908B36E642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>938B5B2D9ED04AEB88401045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99DF5C3DDE054797B7CF2B71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A77456368C6424A9685C77B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE2A290CC72400A8B96574B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBC0F0D7A314358962D4717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C488E76E53A4260B002649F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5CE5D8FB154A79B6884EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED1B73BFE824EC8B83C02CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3FA369533D4FA38AE11E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F728798FF0845A191CF535C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A043BF101CE84999AA13AEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1566113FFED44BEAD7E7670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3FDE1995AAD40C6AB4BE2B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A4EE4DA5054D0BB596AFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA16563EDAA24583825E0673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1A249B83C84D58B6DD0504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF0ECD3875F4C34B25189F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF8AB83805042CD9F43F917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BE9E52993B4FF1BC6C7158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D5B4C8A56145219B1E9D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7171CFAF04D4E739DF76E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8CA91183BDD49E1B83E60FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C253442E879F49C78CA7655A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C257E72125DC4AFDA5CE3C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E948A5529B4CAD93622E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7572FB34E064B409C4125B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB306096BE6046E3B9E2B8F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBECFC6B287F4571B1C8DE1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC7B6E61B2704F319BCBDE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE01ACBC5C945B5B3671AF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED6DAD6D8994104B981A32F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D24A30E0423A4F439CEE8C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D325E1C8182145C1A166CC4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BD99703A0547FE957E39C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D814BD5C96E547609E2C95A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E285441F234972BE1B15FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA494C5C72BB4A449B2D62FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAFB91E2C78B47F1B192C394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE755C25681140738239CC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9709EE9DB64E9ABE4B0E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C8C0FCD1914ACD845FBE50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E305CEB5F73243478196522C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E787B04D798847CDBE5E109E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC10C99615B14459B336DB60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC022C6F4754D83B847F8FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEEA3329B5CE4AF894D1292C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2C4559250824F8F892F7277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A3DEBB7F2E4931BD485D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E2FA102FA445E5AAF2A163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA50A047F4C54640AFAD6762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB16071DFC524A41B5D69E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF3AA62DD53B4F69948D7991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
